body{
    background: linear-gradient(to bottom,  rgb(245, 115, 176), rgb(253, 168, 208),rgb(250, 201, 224));
    background-attachment: fixed;
    color:white;
}
h1{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    justify-content: center;
}
#preco, #pagamento{
    border-radius: 5px;
    padding: 5px;
}
main{
    padding: 40px;
    margin: 40px;
    background-color: rgb(250, 201, 231);
    border-radius: 5px;
    color:rgb(0, 0, 0);
    border-color: aliceblue;
    width: 700px;
    height: 200px;
    margin: 0 auto;
    box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.842);
}
section{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
button{
    color: #ffff;
    border-radius: 5px;
    background-color: rgb(139, 19, 55);
    cursor: pointer;
    display: flex;
    margin: 30px auto 0;
    height: 40px;
    padding: 10px;
}
button:hover{
    background-color: rgb(102, 4, 33);
}
footer{
    display: flex;
    justify-content: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}

@media screen and (max-width: 768px){
    main{
        width: 200px;
    }
    h1{
        text-align: center;
    }
    p{
        font-size: 16px;
    }
}