form.formulario {
    background-color: #5dc0c5;
    display: flex;
    width: 500px;
    flex-direction: column;
    align-items: stretch;
    margin: 0 auto;
    padding: 20px;
    gap: 10px;
    border-radius: 10px;
}

h1, h2 {
    display: flex;
    justify-content: center;
}

select#favorito {
    height: 30px;
    border-radius: 5px;
}

button#votar {
    height: 30px;
    border-radius: 20px;
    background-color: #29566b;
    font-family: arial;
    color: white;
}
footer{
    color: #ffffff;
    background-color: black;
    display: flex;
    justify-content: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}

@media screen and (max-width: 768px){
    form.formulario {
    width: 300px;
    }
}