button:hover{
    background-color: rgb(4, 74, 102);
}
footer{
    color: #ffffff;
    background-color: black;
    display: flex;
    justify-content: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}

@media screen and (max-width: 768px){
    main{
        width: 200px;
    }
    h1{
        text-align: center;
    }
    p{
        font-size: 16px;
    }
}